<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>お問い合わせ内容確認</h1>
  <div>
    <div>
      email: <%=@email%>
    </div>  
    <div>
      本文:
      <p>
        <%=@message%>
      </p>
    </div>    
  </div>
  <form action="send_mail" method="POST">
    <input type="hidden" value="<%=@email%>" name="email">
    <input type="hidden" value="<%=@message%>" name="message">
    <input type="submit" value="送信する">
  </form>
</body>
</html>
